
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Press+Start+2P&display=swap');

html * {
    margin: 0%;
}

body { 
    background-size: 100%;
    /* */
    background-repeat: no-repeat;
    /* */
    background-position: center;
    /* */
    background-attachment:unset;

    background-color: #d88cea;
    height: 50vh;
}

#cabecalho {
    background-image: url(https://bit.ly/2RWd4eX);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-family: 'Press Start 2P', cursive;
}

#conteudo {
    height: 100vh;
    font-size: 20px;
    font-family: 'IM Fell English', serif;
    margin-top: 10vh;
    margin-inline-start: 12vh;
}
#div {
    font-size: 20px;
    font-family: 'IM Fell English', serif;
    align-items: flex-start;
}

#rodape {
    height: 100vh;
    background-image: url(https://bit.ly/3vqxaLK);
    background-repeat: no-repeat;
    background-size: 100vw;
    color: white;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0%;
}
.icones {
    width: 100px;
}